
<%include Vistas_Parciales/_Header%>



  <script src="../jQuery_14.js" rel="stylesheet" ></script>

 
<script
src="https://code.jquery.com/jquery-3.4.1.js"
integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
crossorigin="anonymous"></script>



<br><br><br>
<div class="container">
      <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                              <div class="card">
                                              <div class="card-body">
                                           <form id="p1">
                                                <div class="form-group">
                                                <input type="text" name="NOMBRE"  id ="tx1"  placeholder="Nombre" class="form-group">
                                                      </div>
                                                                                      
                                        <div class="form-group">
                                                 <input type="text" name="APELLIDO" id ="tx2" placeholder="Apellido" class="form-group">
                                                      </div>
                                            
                                                      <div class="form-group">
                                                              <input type="text" name="CEDULA" id ="tx3" placeholder="Cedula" class="form-group">
                                                                   </div>
                                           
                                                      <div class="form-group" >
                                                                      <select class="form-group" id="tx4">
                                                                              <option value="HOMBRE">HOMBRE</option>
                                                                              <option value="MUJER">MUJER</option>
                                                                      </select>
                                                                             </div>
                                         <div class="form-group">
                                              <input type="submit" value="GUARDAR DATOS" class="form-group btn-primary btn-block">
                                                    </div>
                                               </form>
                                                                              
                                            </div>
                                            </div>
              </div>
              <div class="col-md-4"></div>
      </div>
</div>



    
      
<script src="../Hola.js" rel="stylesheet"></script>

<script
src="https://code.jquery.com/jquery-3.4.1.js"
integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
crossorigin="anonymous"></script>

<script src="../jQuery_14.js" rel="stylesheet" ></script>





 
