<!DOCTYPE html>
<html>
<header>
<meta charset="utf-8">

<!--SCRIPT DE CSS DE BOSTRAP-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>LOGUIN</title>



</header>
<body>

<nav class="navbar  navbar-expand-sm navbar-dark bg-dark">

    <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="/" >REGISTRO DE PERSONA</a>
        </li>
        <br><br>
        <li class="nav-item">
                <a class="nav-link" href="/Registro" >REGISTRO DE PERSONA</a>
                </li>
                
        
    </ul>

    

    </nav>